/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

#logo {
    img {
	margin-right: 10px;
    }
}
.button.transparent {
    background-color: rgba(255, 255,255, 0);
    border: 1px solid #fff;
    &:hover, &:focus {
	background-color: rgba(255, 255,255, 0.2);
    }
}

#main {
    background: image-url("bg/1.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
    height: 100%;
    .panel {
	border-width: 0px;
	background-color: rgba(90, 91, 75, 0.5);
	padding-bottom: 20px;
	margin-top: 25%
    }
    h1, h3, p, a {
	color: #fff;
    }
    a:hover, a:focus {
	color: #eee;
    }
    
    .transparent {
	margin-right: 20px;
    }
}
#about {
    padding: 80px 0 50px;
    text-align: center;
    .alert-box {
	h3 {
	    color: #fff;
	}
    }
}
.panel.white {
    background-color: #fff;
    margin-top:0;
    padding-top:0;
    h3.fancy {
	line-height: 0;
	margin-bottom: 35px;
	span {
	    display: inline-block;
	    position: relative;
	    &:after, &:before {
		content: "";
		height: 0;
		position: absolute;
		top:0;
	    }
	}
    }
}

#services {
    background: image-url("services.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
    padding: 80px 0 50px;
    text-align: center;
    .services {
	margin-top: 20px;
    }
}
#catalog {
    padding: 80px 0 50px;
    text-align: center;
}
#clients {
    background: image-url("clients.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
    padding: 80px 0 50px;
    text-align: center;
    .list {
	margin-top: 20px;
    }
    .panel.white {
	border-width: 0px;
	background-color: rgba(40, 30, 20, 0.75);
    }
    h3, p, a, ul, li {
	color: #fff;
    }
}
#contact {
    padding: 80px 0 50px;
    text-align: center;
}
#mail {
    background: image-url("stripes.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #DDD;
    margin: 0;
    padding: 0;
    h3.fancy {
	line-height: 0;
	margin-bottom: 0px;
    }
    .title {
	h3.fancy {
	    line-height: 0;
	    margin-bottom: 35px;
	    span {
		display: inline-block;
		position: relative;
		&:after, &:before {
		    content: "";
		    height: 0;
		    position: absolute;
		    top:0;
		}
	    }
	}
    }
    .details {
	border: 1px solid #DDD;
	background: #fff;
	padding: 50px 0;
	margin: -20px 15px 15px;

    }
    textarea {
	height: 150px;
    }
}

#copyright {
    margin: 50px 0;
    padding: 0;
    text-align: center;
}