%section#about
  .row
    .panel
      %h3.fancy <span>О нас</span>
      .row
        .columns.small-4
          %h3 История
          %p С 2008 года мы занимаемся внешнеэкономической деятельностью, помогая предпринимателям различных стран организовывать оптимальные схемы взаимодействия с Китаем. Обширный опыт работы с различными видами товаров и услуг позволяет нам оперативно реагировать на изменчивые рыночные тенденции КНР, и реализовывать для своих клиентов максимально эффективные методы ведения бизнеса.
        .columns.small-4
          %h3 Философия
          %p Компания MebelLook это свежий и новый взгляд на выбор и покупку мебели. Строго ориентированный и индивидуальный подход в работе с каждым Нашим клиентом, это залог Вашего удачного денежного вложения. Мы в гарантированные сроки и без промедления реагируем на каждый заданный Вами вопрос,  и обеспечиваем полный и поэтапный контроль всех обстоятельств касающихся Вашей закупки.  Наш клиенты – это наши близкие друзья, все Ваши вопросы и проблемы мы решаем как свои собственные!
        .columns.small-4
          %h3 Мотивация
          %p Почему именно мы? Выгодные условия сотрудничества, ответственное выполнение всех обязательств перед Вами, представление полной и достоверной информации о том что вы можете приобрести в Китае, грамотная консультация наших специалистов во всех вопросах будущей или уже совершенной вашей закупки, качественный сервис обслуживания на всех этапах сделки, готовность работы под индивидуальные требования каждого нашего клиента, нацеленная работа на результат. Результатом нашей работы – это ваше положительное мнение o нашe работe.
      .row
        .columns
          .alert-box.radius
            %h3
              Создан в 2008




