%section#catalog
  .row
    .panel.white
      %h3.fancy <span>Каталог</span>
      .row
        .columns.small-offset-2.small-8
          %p  В представленной галерее мы предлагаем вам ознакомится с той малой долей того ассортимента который могут предложить вам мебельные  фабрики Китая.
          %p Цены даны с условием доставки и уплаты таможенных платежей в России.
          %ul
            %li Галерея  (все что есть 50 фото)
            %li Американский стиль (10 фото)
            %li Итальянский шик (10 фото)
            %li Французцкий прованс (10 фото)
            %li Арт-Деко (10 фото)
            %li Современный Hi-Tech (10 фото)
