%section#clients
  .row
    .panel.white
      %h3.fancy <span>Клиентам</span>
      .row
        .columns.medium-offset-2.medium-8
          %p Предлагаем вам ознакомиться с пошаговой инструкцией нашей работы.
      .row.list
        .columns.medium-offset-3.medium-6
          %h3 1. Удаленная работа
          %ul.no-bullet
            %li Почтовая переписка, телефонные переговоры
            %li Консультативная помощь по Мебельному Туру
            %li Предоставление всей необходимой информации для клиента
            %li Согласование даты приезда в Китай
            %li Оказание помощи различного характера (бронирование гостиниц, оформление виз, покупка авиабилетов и т.д.)
      .row.list
        .columns.medium-6
          %h3 2. Работа в Китае
          %ul.no-bullet
            %li Встреча в аэропорту
            %li Размещение в гостинице
            %li Сопроводительная работа по мебельным центрам и фабрикам
            %li Помощь в проведении переговоров и оформлении заказа
            %li Помощь в организации культурно-досугово отдыха
            %li Проводы в аэропорт
        .columns.medium-6
          %h3 4. Работа в России
          %ul.no-bullet
            %li Подготовка контейнера к таможенному оформлению в России
            %li Просчет всех будущих расходов для уплаты таможенных платежей
            %li Контролирование процесса на таможне
            %li Постановка контейнера на ЖД платформу
            %li Отправка контейнера по ЖД
            %li Автовывоз контейнера до адреса назначения
      .row.list
        .columns.medium-offset-3.medium-6
          %h3 3. Пост работа в Китае
          %ul.no-bullet
            %li Предоставление всей необходимой документации (упаковочный лист, расчеты оплат и т.д.)
            %li Контралирование сроов производста
            %li Своевременное информирование клиента о каких лобо изменениях или вопрасах касающихся его заказа
            %li Проверка товара, с последующем предоставлением отчета о проверке
            %li Согласование и утверждение отчета по проверке
            %li Проведение остаточных платежей
            %li Консолидирование товара на складе компании
            %li Оргонизация в подаче и загрузке контейнера
            %li Предоставление отчета по загрузке
