%section#contact
  .row
    #mail.panel.white
      .row.title
        %h3.fancy <span>Обратная связь</span>
      .row.details
        .columns.small-offset-1.small-10.medium-offset-1.medium-10
          %p Для того чтобы связаться с нами достаточно просто заполнить ниже прдставленную форму, и задать интересующий вас вопрос, мы гарантируем что в течении 24 часов обязательно свяжемся с вами и ответим на все интересующие вас вопросы:
          %form
            .row
              .small-12
                %input{type: "text", placeholder: "Имя"}
                %input{type: "text", placeholder: "Email"}
                %textarea{type: "text", placeholder: "Сообщение"}
                %input{:type => "submit", :value => "Отправить", :class => "button expand"}


                
              
                
