%section#hero
  .container
    .row
      #intro.medium-offset-1.medium-7.columns
        .panel
          %h1= link_to ('Mebellook').html_safe, root_path
          %br
          %h3 Почему именно мы?
          %p Выгодные условия сотрудничества, ответственное выполнение.
          %a.button.tiny.transparent.radius{href: "#clients"} Узнать больше
          %a{href: "#contact"} Заказать Тур >
