%section#services
  .row
    .panel
      %h3.fancy <span>Сервис</span>
      .row
        .columns.small-offset-2.small-8
          %p Всем своим клиентам мы предоставляем качественный и отличный сервис работы вне зависимости от времени и обстоятельств начала совместной работы.
          %p Грамотная консультация наших специалистов, позволит Вам рассчитать все риски и все ваши затраты еще до приезда в Китай. 
          %p Контролирование работы на всех ее этапах – это залог успеха качественного и успешного результата. Знания и опыт в работе с китайскими производителями, логистикой и работы таможенных органов Китая и России, гарантирует Вам получение ожидаемого результата как в вопросе качества так и в вопросе экономии денежных средств.
          %h4 Наши услуги:
      .row
        %hr
        .columns.small-3
          %h3 Консалт-работа
          %ul.no-bullet
            %li Информационная работа
            %li Помощь в организации приезда
            %li Сопровождение и помощь в оформлении заказа
            %li Пост обслуживание
        .columns.small-3
          %h3 Дизайн
          %ul.no-bullet
            %li Разработка дизайн проекта
            %li Подбор мебели 
            %li Индивидуальная работа по дизайн-проекту клиента
            %li Помощь в оформлении интерьера
        .columns.small-3
          %h3 Поиск
          %ul.no-bullet
            %li Удалена работа 
            %li Поиск  необходимой продукции
            %li Согласование цен
            %li Помощь в оформлении заказа
        .columns.small-3
          %h3 Гарантии
          %ul.no-bullet
            %li Работа по договору
            %li Предоставление упаковочного листа
            %li Выставление инвойсов
            %li Изготовление отчетов (проверки, загрузки товара)

